.content-img1{
    // position: absolute;
    width: 450px;
    margin-left: 140px;
    align-items: center;
    margin-top: 20px;
   }
   .content-img2{
    position: absolute;
    width: 600px;
    float: left;
    top: 90px;
    left:75px;
  }
  
.content-title{
  margin-top: 200px;
  position: absolute;
  margin-left: 640px;
  font-size: 35px;
  top: 0;
}
.content-para{
  height: 120px;
  top: 0;
  margin-left: 640px;
  margin-top: 250px;
  font-size: 13px;
  font-weight: bolder;
  line-height: 17px;
  width: 280px;
  position: absolute;
}

 
  .content-img3{
    width: 100px;
    position: absolute;
    top: 0;
    right: 230px;
    margin-top: 260px;
  }
  .content-img31{
    width: 100px;
    top: 0;
    right: 130px;
    position: absolute;
    margin-top: 260px;
  }
 