
// .mobile{
//     padding: 50px;
   
  
//   .head{
//     padding: 10px;
//     position: absolute;
//     top: 270px;
//     left: 300px;
//     width: 300px;
//     height: 80px;
//   }
//   .button{
//     padding: 5px;
//     position: absolute;
//     top: 525px;
//     left: 400px;
//     width: 200px;
//   }
//   
//   .para{
//     height: 170px;
//     width: 400px;
    
//     position: absolute;
//     left: 250px;
//     top: 370px;
//     font-size: 20px;
//   }
//   .logo{
//     height: 60px;
//     width: 50px;
//     position: absolute;
//     top: 280px;
//     left: 250px;
//   }
//   .content-1{
//     width: 100px;
//     height: 100px;
//     position: absolute;
//     top: 450px;
//   }
//   
//   }
  .mobile{
    //   margin-top: 500px;
    //   height: 500px;
      width: 100%;
    //   background-color: aquamarine;
  
  .mob2{
        width: 100px;
        // height: 100px;
        // position: absolute;
        margin-top: -50px;
        margin-left: 180px;
        padding-bottom: 20px;
      }
      .logo{
            // height: 60px;
            width: 50px;
            // position: absolute;
            top: 200px;
            left: 270px;
            padding-bottom: 150px;
            padding-left: 50px;
        
          }
          .head{
                padding: 10px;
                // position: absolute;
                padding-bottom: 150px;

                // top: 100px;
                left: 320px;
                width: 120px;
                // height: 80px;
              }
              .para{
                    height: 170px;
                    width: 400px;
                    line-height: 18px;
                    position: absolute;
                    left: 130px;
                    padding-left: 200px;
                    top: 735px;
                    font-size: 20px;
                  }
                   .mobile {
                    position: absolute;
                    left: 510px;
                    top: 450px;
                    padding-left: 165px;
                    width: 500px;
                }
                .button{
                        padding: 5px;
                        position: absolute;
                        top: 900px;
                        left: 500px;
                        width: 140px;
                      }
    }